.footer {
  width: 100%;
  padding: 15px 30px;
  background-color: #0000ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.left span {
  margin-right: 20px;
  font-size: 0.85rem;
  cursor: pointer;
}

.right span {
  font-size: 0.85rem;
}

.left span:hover {
  text-decoration: underline;
}
